body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


#nav-logo {
    max-height: 60px;
    min-width: 60px;
    min-height: 20px;
    float: left;
}
#nav-container {
    background: #2c3e50;
    height: 80px;
    padding: 20px;
    color: white;
}
nav {
    content: "";
    clear: both;
    display: table;
}
.bar {
    display: flex;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 5px;
}
.search { flex: 1; }
.search input { width: 100%; }
nav ul { display: flex; list-style-type: none; }
nav a { color: white; text-decoration: none; }
nav a:hover { color: #1C4CB2; }
nav li { padding-right: 15px; }




/* Add New Wallet / Exchange */
.add-new-header { text-align: center; }
.add-new-form {
    display: 'flex';
    flex-direction: 'column';
    max-width: 500px;
    margin: 0 auto;
}
.add-new-input {
    margin-top: 15px;
    padding: 20px;
}
.add-new-submit {
    margin-top: 15px;
    padding: 20px;
}
